Repository Unspokenevil/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobufs/ @AquaWolf @DatCaptainHorse

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containerfiles/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

fix: Disable v4 runner build in GHA workflow
  .github/workflows/runner.yml
Owners: @dev-team

fix: Specify MangoHud config for gamescope
  packages/scripts/envs.sh
Owners: @DatCaptainHorse

feat: Runner image variants, CI improvements (#306)
  .github/workflows/docker-bake.hcl
  .github/workflows/play-standalone.yml
  .github/workflows/relay.yml
  .github/workflows/runner-bases.yml
  .github/workflows/runner-variants.yml
  .github/workflows/runner.yml
  containerfiles/heroic-runner.Containerfile
  containerfiles/minecraft-runner.Containerfile
  containerfiles/runner-builder.Containerfile
  containerfiles/runner-common.Containerfile
  containerfiles/steam-runner.Containerfile
  packages/input/.containerignore
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
Owners: @dev-team, @DatCaptainHorse

fix: CI base permission to push packages
  .github/workflows/runner-variants.yml
Owners: @dev-team

fix: Add v2 suffix to make tags sane
  .github/workflows/runner-bases.yml
  .github/workflows/runner-variants.yml
Owners: @dev-team

fix: Remove old CI comment and allow manual trigger
  .github/workflows/runner-bases.yml
  .github/workflows/runner-variants.yml
Owners: @dev-team

fix(relay): Ignore potential private/internal IPs
  packages/relay/internal/common/flags.go
Owners: @DatCaptainHorse

fix(relay): Use built-in method for checking private IP
  packages/relay/internal/common/flags.go
Owners: @DatCaptainHorse

fix(relay): Specify IP as Host rather than srflx
  packages/relay/internal/common/common.go
Owners: @DatCaptainHorse

exp(relay): Try setting high playout delay
  packages/relay/internal/core/protocol_stream.go
Owners: @DatCaptainHorse

exp(relay): Restore playout delay to 0
  packages/relay/internal/core/protocol_stream.go
Owners: @DatCaptainHorse

feat: runner and playsite updates, mouse input stutter fix
  containerfiles/runner-builder.Containerfile
  containerfiles/runner-common.Containerfile
  packages/input/src/keyboard.ts
  packages/input/src/mouse.ts
  packages/input/src/webrtc-stream.ts
  packages/scripts/envs.sh
  packages/server/rust-toolchain.toml
Owners: @DatCaptainHorse

fix: make playsite CI trigger on input package changes
  .github/workflows/play-standalone.yml
Owners: @dev-team

feat(relay): Deprecate websocket in favor of quic-v1
  packages/relay/internal/core/core.go
Owners: @DatCaptainHorse

fix: Fix good chunk of packet loss and frame drop issues
  .github/workflows/play-standalone.yml
  buf.gen.yaml
  bun.lock
  packages/configs/pipewire.conf.d/nestri-low-latency.conf
  packages/configs/wireplumber.conf.d/nestri-low-latency.conf
  packages/input/src/proto/latency_tracker_pb.ts
  packages/input/src/proto/messages_pb.ts
  packages/input/src/proto/types_pb.ts
  packages/play-standalone/src/pages/[room].astro
  packages/relay/internal/common/common.go
  packages/relay/internal/core/protocol_stream.go
  packages/relay/internal/shared/participant.go
  packages/relay/internal/shared/room.go
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/supervisord.conf
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/main.rs
  packages/server/src/p2p/p2p.rs
  packages/server/src/proto/proto.rs
Owners: @dev-team, @DatCaptainHorse
